main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-loja {
    min-height: 100vh;
    position: relative;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.titulo-loja {
    margin: auto;
    width: 80%;
    text-align: center;
}

.titulo-loja h1 {
    font-weight: bold;
    font-size: 20px;
}

.filtros {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.filtros .button {
    background: #fff;
    color: black;
    border: 1px solid #008c9e;
    padding: 5px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
}

.filtros .active,
.filtros .button:hover {
    background: #008c9e;
    color: #fff;
}

.filtros a{
    text-decoration: none;
}


.container-titulo {
    top: 20px;
    position: absolute;
    z-index: 100;
}






.loja {
    margin-top: 120px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}






.produto {
    padding: 8px;
    border-radius: 8px;
    position: relative;
}

.prod-img {
    width: 200px;
    height: 230px;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 8px;
}

.produto .prod-img img {
    width: 200px;
    height: 230px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease;
}

.produto .prod-img img:hover {
    transform: scale(1.2);
}

.botao-comprar {
    background-color: #1693a5;
    border-radius: 8px;
    text-align: center;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.botao-comprar {
    background-color: #1693a5;
    border-radius: 8px;
    text-align: center;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.product-button {
    background-color:#1692a500;
    cursor: pointer;
    width: 190px;
    border: none;
    padding: 8px 36px 8px 36px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.botao-comprar a {
    padding: 8px 36px 8px 36px;
    width: 190px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.botao-comprar:hover {
    background-color: #16c5e0;
}



.nome-produto {
    padding-top: 14px;
    max-width: 200px;
    font-size: 14px;
}

.preco {
    font-size: 13px;
    font-weight: bold;
    color: rgb(53, 53, 53);
}

.esgot {
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 100;
    background-color: rgb(207, 180, 22);
    padding: 5px 8px 5px 8px;
    border-radius: 0px 10px 10px 0px;
}

.produto .esgot p {
    font-weight: bold;
    font-size: 15px;
    color: rgb(255, 255, 255);
}





@media (max-width: 820px) {
    .titulo-loja h1{
        font-size: 15px;
    }
    .prod-img {
        width: 170px;
        height: 220px;
        margin: auto;
        margin-bottom: 10px;
    }

    .produto .prod-img img {
        width: 170px;
        height: 220px;
    }

    .nome-produto {
        font-size: 13px;
        padding-top: 9px;
    }

    .preco {
        font-size: 11px;
        padding-bottom: 20px;
    }

    .categorias {
        width: 90%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .categorias a {
        font-size: 11px;

    }

    .loja {
        margin-top: 130px;
    }

}

@media (max-width: 411px) {
    .filtros button {
        font-size: 11px;
    }
}

@media (max-width: 388px) {
    .prod-img {
        width: 150px;
        height: 200px;
    }

    .produto .prod-img img {
        width: 150px;
        height: 200px;
    }

    .loja {
        margin-top: 150px;
    }

}






