
html, body{
    background-color: black;
}


.container-produto {
    width: 100%;
    padding-top: 40px;
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: center;
}


.container-img {
    width: 60%;
    display: flex;
    justify-content: center;
}



.img-main {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgs-sec {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.imgs-sec img {
    border-radius: 8px;
    width: 100px;
    height: 110px;
    object-fit: cover;
    object-position: center;
    transition: all 0.4s;
    cursor: pointer;
}

.imgs-sec img:hover {
    transform: scale(1.1);
}


main {
    background-color: rgb(255, 255, 255);
    padding-bottom: 60px;
}

.container-img .img-main img {
    border-radius: 8px;
    width: 90%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}

.container-infos {
    width: 40%;
    height: auto;
}



.frete {
    margin-top: 10px;
    background-color: #f1f1f1;
    padding: 8px;
    width: 90%;
    max-width: 400px;
    border-radius: 8px;
}

.frete h3 {
    color: #00b894;
}

.frete p {
    color: #00b894;
    font-size: 14px;
}

.line {
    width: 90%;
    background-color: rgb(59, 59, 59);
    height: 1px;
    max-width: 400px;
    margin-top: 20px;
}


.titulo-produto h1 {
    font-weight: bold;
}



.preco {
    padding-top: 10px;
    font-size: 14px;
    color: #2cbd80;
}

.estoque p {
    font-size: 13px;
    padding-top: 10px;
}

.quantity-selector {
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: fit-content;
}


.quantity-selector input {
    width: 70px;
    height: 40px;
    text-align: center;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 1px;
    color: #474747;
}

.quantity-selector input[type=number]::-webkit-inner-spin-button,
.quantity-selector input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
    width: 15px;
    padding-bottom: 10px;
    padding-right: 4px;
    height: 15px;
}

.form-comprar {
    display: flex;
    flex-direction: column;
}

.button-comprar {
    width: 90%;
    max-width: 400px;
    margin-top: 20px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #252525;
    color: white;
    cursor: pointer;
    transition: all 0.4s;
}

.button-comprar:hover {
    background-color: #16c5e0;
    border: 1px solid black;
    color: black;
}



.adicione-contato {
    font-size: 0.60rem;
    border-top: 1px solid black;
    margin-top: 30px;
    padding-top: 10px;
    width: 100%;
    max-width: 400px;
}


.text-danger{
    color: red;
    font-size: 0.70rem;
    position: relative;
}
.text-danger p{
    position: absolute;
    top: -10px;
    left: 0px;
}


.formContato {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 0px;
}

.aviso {
    width: 100%;
    max-width: 400px;
    background-color: #f1f1f1;
    border-radius: 8px;
    font-size: 0.70rem;
    margin-top: 20px;
    padding: 8px;
}

.area-input {
    height: 45px;
    position: relative;
    width: 100%;
    max-width: 400px;
}

.area-input input {
    border-radius: 8px;
    border: 1px solid rgb(116, 116, 116);
    color: #464646;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    position: absolute;
    z-index: 90;
}

.area-input .text {
    position: absolute;
    font-size: 13px;
    top: 10px;
    left: 30px;
    text-align: center;
    transition: all 0.4s;
    font-weight: bold;
}

.area-input input:focus {
    border: 1px solid green;
}

.area-input input:focus+.text,
.area-input input:not(:placeholder-shown)+.text {
    z-index: 100;
    color: green;
    font-size: 12px;
    transform: translate(-15px, -20px);
    background-color: #ffffff;
}




@media (max-width: 1013px) {

    .container-produto {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .container-img {
        width: 100%;
    }

    .container-infos {
        width: 100%;
    }

    .container-img {
        flex-direction: column;
    }

    .imgs-sec {
        flex-direction: row;
        justify-content: center;
        order: 2;
        padding-top: 10px;
    }

    .img-main {
        margin: auto;
        width: 100%;
        order: 1;
    }

    .container-infos {
        padding: 8px;
    }

    .titulo-produto,
    .line,
    .estoque,
    .form-comprar,
    .frete,
    .button-comprar {
        width: 100%;
        max-width: none;
    }


    .titulo-produto {
        font-size: 12px;
    }

    .imgs-sec img {
        width: 70px;
        height: 70px;
    }

    .adicione-contato {
        max-width: none;
    }

    .aviso {
        max-width: none;

    }

    .area-input {
        max-width: none;
    }
}