*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root{
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(17, 17, 17);
    --card-color: rgb(29, 29, 29);
    --text-color: rgb(255, 255, 255);
}

body{
    background-color: var(--primary-color);
    color: var(--text-color);
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    font-size: 10px;
    position: relative;
    background-color: rgb(10, 10, 10);
}

header a{
    text-decoration: none;
    color: red;
    font-size: 14px;
    position: absolute;
    bottom: 16px;
    right: 20px;
    padding: 10px;
}


header h1 span{
    color: red;
}

.back{
    position: absolute;
    top: 15px;
    padding: 10px;
    border-radius: 10px;
    left: 10px;
    font-size: 13px;
    background-color: rgb(27, 27, 27);
}

.back a{
    text-decoration: none;
    color: white;
}


main{
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.input-file{
    display: none;
}


.container{
    width: 90%;
    background-color: var(--primary-color);
    max-width: 550px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 20px;
}

.container form{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.container form .img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.container form .img img{
    width: 130px;
}

.label-file{
    background-color: rgb(44, 135, 219);
    padding: 10px;
    font-size: 13px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.nome, .preco{
    width: 100%;
}

.nome input, .preco input{
    background-color: rgb(34, 34, 34);
    color: white;
    border: none;
    width: 100%;
    border-bottom: 1px solid rgb(34, 34, 34);
    outline: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}

.botao{
    background-color: rgb(27, 145, 47);
    width: 150px;
    padding: 5px;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 15px;
    margin-top: 10px;
}
.botao:hover{
    background-color: rgb(22, 70, 70);
}

.select{
    background-color: rgb(34, 34, 34);
    color: white;
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.nome-img, .nome-img2, .nome-img3{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    width: 150px;
    height: auto;
    overflow:hidden;
    background-color: rgb(34, 34, 34);
    border-radius: 20px;
}

.editar-foto{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.outras-imagens .img .editar-foto, .outras-imagens .img{
    display: flex;
    flex-direction: column;
}

.outras-imagens{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;    
}

.container form .outras-imagens .img{
    width: 150px;
}

.outras-text{
    font-size: 20px;
    margin-top: 50px;
    color: rgb(182, 182, 182);
}

.desc{
    width: 100%;
}

.desc textarea{
    resize: none;
    width: 100%;
    background-color: rgb(34, 34, 34);
    border-radius: 5px;
    color: rgb(184, 184, 184);
    border: none;
    outline: none;
    padding: 10px;
    height: 300px;
    font-size: 18px;
}
